    <!-- About Section -->
<style type="text/css">
p.indexnormal {
   font-size: 20px;
   font-weight: lighter;
}

p.indexsmall {
    font-variant: small-caps;
    font-weight: lighter;
    font-size:40px;
}
</style>

<div id="wrap">
<section id="about" class="container vertical-align">
    <div class="container">
      <div class="row vertical-align">
        <div class="col-lg-12 col-lg-offset-1">
          <br/><br/>
          <p class = "indexsmall"></p>
          <div class = "col-sm-4">
          <img class="img-responsive" src="../img/avatar.jpg" alt="My pic";">
        </div>
        <div class = "col-sm-7">
          <p class = "indexsmall"> Xindi Wang </p>
          <p class = "indexnormal">
          I’m a Network Science PhD student at Network Science Institute, Northeastern University, working with Prof. Albert-László Barabási and Prof. Tina Eliassi-Rad.</p>

           <p class = "indexnormal">
             My research is in general on complex systems, specifically on network science and computational social science. I'm particularly interested in understanding how the social systems work from a data-driven perspective.</p>
             <p class = "indexsmall"> Contact </p>
             <p class = "indexnormal">
              <span class="icon"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></span>
              xindi.w1993@gmail.com
              </p>
         
        </div>
        </div>
        
    </div>
  </div>
</section>
</div>
