<!-- About Section -->
<div id="wrap">
<div class="outer">
  <div class = "middle">
      <div class="row">
        <div class="col-lg-12">
          <div class = "col-sm-2"></div>
          <div class = "col-sm-3">
          <img class="center-block img-responsive img-thumbnail" src="../img/avatar.jpg" alt="My pic">
        </div>
        <div class = "col-sm-5">
          <p class = "indexsmall"> Xindi Wang </p>
          <p class = "indexnormal">
          <b> 2022/11/16 - I'm looking for opportunities! </b>
        </p>
        <p class = "indexnormal">
          <b>
          I'm recently impacted by the layoff in Amazon. I'm looking for roles such as machine learning scientist, data scientist or research scientist, with a focus in natural language processing, deep learning, ranking and search.</b>
          </p>
          <p>
          </p>
           <p class = "indexnormal">
             Greetings! I'm Xindi Wang, a Ph.D. in Network Science. I worked as an Applied Scientist II in Amazon Alexa AI, making Alexa smarter to retrieve desired results for customers. Prior to Amazon, I obtained a Ph.D. degree from Northeastern in Network Science, working with Prof. Albert-László Barabási and Prof. Tina Eliassi-Rad. My reasearch projects include network science, computational social science, machine learning and data science.
           </p>
          <p class = "indexsmall"> Contact </p>
        <p>
        <span class="icon"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></span>
      xindi.w1993@gmail.com
    </p>
         <div class = "col-sm-2"></div>
        </div>
        </div>
        

    </div>
  </div>
</div>
</div>
{% include footer.html %}
{% include js.html %}