<!-- About Section -->
<div id="wrap">
<div class="outer">
  <div class = "middle">
      <div class="row">
        <div class="col-lg-12">
          <div class = "col-sm-2"></div>
          <div class = "col-sm-3">
          <img class="center-block img-responsive img-thumbnail" src="../img/avatar.jpg" alt="My pic">
        </div>
        <div class = "col-sm-5">
          <p class = "indexsmall"> Xindi Wang </p>
          <p class = "indexnormal">
          I’m a Network Science PhD student at Network Science Institute, Northeastern University, working with Prof. Albert-László Barabási and Prof. Tina Eliassi-Rad.</p>

           <p class = "indexnormal">
             My research is in general on complex systems, specifically on network science and computational social science. I'm particularly interested in understanding how the social systems work from a data-driven perspective.</p>
         <div class = "col-sm-2"></div>
        </div>
        </div>
        
    </div>
  </div>
</div>
</div>
{% include footer.html %}
{% include js.html %}