<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline intro-social-buttons">
                            {% for social in site.social %}
                            <li>
                                <a href="{{ social.url }}" class="btn btn-link btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> </a>
                            </li>
                            {% endfor %}
                        </ul>
            </div>
            <div class="col-md-4">
                <p class="copyright text-muted small">Copyright &copy; 2018 Xindi Wang. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>