<!DOCTYPE html>
<html>
{% include headforcategory.html %}
<body>
{% include header.html %}
<div id="wrap">
<section id="projects">
    <!-- Title -->
    <div class = "page-title-section"> 
        <div class = "container text-center"><h1 class="small">Experiences</h1></div>
        <hr class="page-heading-spacer">
    </div>
<!-- Page Content -->
{% for post in site.categories.experiences %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="row">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="text-center">
                    <img class="rounded float-left" src="{{site.baseurl}}/img/experiences/{{ post.img }}" height="100" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="row">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="text-center">
                  <img class="rounded float-left" src="{{site.baseurl}}/img/experiences/{{ post.img }}" height="100" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
</div>
{% include footer.html %}
{% include jsforcategory.html %}
</body>
</html>
