<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}
		{% include about.html %}
        {% include projects.html %}
        <div class="title-section-a">
            <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <a href="{{site.baseurl}}/projects/index.html"><h4>Read more about projects here...</h4></a>
                </div>
            </div>
            </div>
        </div>

        {% include experiences.html %}
        <div class="title-section-b">
            <div class="container">
            <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <a href="{{site.baseurl}}/experiences/index.html"><h4>Read more about experiences...</h4></a>
                </div>
            </div>
            </div>
        </div>

        {% include life.html %}
        <div class="title-section-a">
            <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <a href="{{site.baseurl}}/life/index.html"><h4>Read more about life...</h4></a>
                </div>
            </div>
            </div>
        </div>
		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
